{% extends 'headfoot.html' %}

{% load static %}


{% block title %}About{% endblock title %}



{% block body %}

<div class="text-3xl font-extrabold font-sans text-center bg-blue-700 my-4 p-4 ">
    ABOUT US
</div>

<div class=" text-xl font-bold text-center bg-green-200 my-4 p-4">
    This is an Ecommerce-website of vegetables , fruits , grains and flours. <br>
    This website fill the gap between farmers and customers. <br>
    Here farmers can sell their products from their home and our team will deliver items to your door step. <br> 
    you can order items after login into the website our team will deliver your items within 24 hours. <br> 
    you can check the items at your door step and if you are not satisfied with items then <br> 
    you can refuse  to accept the delivery at door step without any charges. <br>
    The prices of products is according to  your near by local markets.

</div>


{% endblock body %}