{% extends 'base.html' %}

{% load static %}


{% block title %}Checkout{% endblock title %}

{% block body %}
{% if messages %}
<div class="p-5 my-2 bg-green-400 text-white font-sans text-2xl">
    <span class=" font-bold float-right cursor-pointer hover:text-black text-4xl"
        onclick="this.parentElement.style.display='none';">&times;</span>
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</span>
    {% endfor %}
</div>
{% endif %}

{% if not user.customer_profile %}
<div class="border-2 border-green-200 p-4 text-xl text-green-900 font-extrabold">
    <a href="/profile"> + Add Address</a>
</div>

{% else %}

<div class=" m-4 p-4 bg-green-100 ">


    <a class="text-xl font-bold text-white bg-blue-700 hover:bg-blue-900 rounded-md p-2 float-right "
        href="{% url 'edit_profile' user.customer_profile.id  %} ">EDIT</a>
    <h1 class=" font-extrabold  text-2xl">Deliver to : </h1>
    {{user.customer_profile.First_name}} {{user.customer_profile.Last_name}} <br>
    {{user.customer_profile.phone}} <br>
    {{user.customer_profile.address}} <br>
    {{user.customer_profile.locality}} {{user.customer_profile.pincode}} <br>
    {{user.customer_profile.city}} {{user.customer_profile.state}} <br>
    {{user.customer_profile.landmark}} <br>
    {{user.customer_profile.email}} <br>

</div>

{% endif %}

<form class="text-xl font-bold my-4" action="{% url 'checkout' products.id  %}" method="post">
    {% csrf_token %}
    <div class="max-w-xl mx-auto">
        <div class="space-y-4 bg-green-200 text-center p-2 font-semibold flex space-x-4">
                <img class="w-1/2 h-40" src="/media/{{products.image}}" alt="">
                <div class=" my-auto">
                    <h2 id="">{{products.name}}</h2>
                    <p class="text-green-900">
                        <!-- <span class="pr-4 line-through text-red-700">₹{{products.marked_price}}/kg</span> -->
                        ₹<input id="sell" class="w-8 bg-green-200" type="tel" 
                        {% for prods in adminproducts %}
                        {% if products.id == prods.product.id %}
                        value="{{prods.selling_price}}"
                        {% endif %}
                        {% endfor %}  
                        
                        readonly>/kg
                        
                    </p>
                    <label class="text-blue-900 text-sm" for="quantity">weight(quantity):</label>
                    <div>
                        <span id="decreasev" class="bg-green-700 px-3 text-white cursor-pointer hover:bg-green-900 " onclick="decreaseValue()">-</span>
                        <input class="w-1/3 text-center" type="number" id="quantity" name="quantity" min="0" value="1" step="0.5" onclick="displayPrice()" >
                        <span id="increasev" class="bg-green-700 px-2 text-white cursor-pointer hover:bg-green-900 " onclick="increaseValue()">+</span>
                        <label for="quantity">kg</label>
                    </div>
                    <p >Price: ₹ <span id="out" ></span></p>
                    <script>
                         window.onload = function(){
                            let quan =document.getElementById("quantity").value;
                            let s =document.getElementById("sell").value;
                            let res = s * quan;
                            let c = 20;
                            let b = 0;
                            if(res<=100){
                                let p = Number(res) + Number(c);
                                var a=document.getElementById('totalprice');
                                a.value=p;
                                document.getElementById('dchar').innerHTML = "20";
                                document.getElementById('tot').innerHTML = p;
                                

                            }
                            else{
                                var z = Number(res) + Number(b);
                                var a=document.getElementById('totalprice');
                                a.value=z;
                                document.getElementById('dchar').innerHTML = "0";
                                document.getElementById('tot').innerHTML = z;
                            }
    
    
                            document.getElementById('out').innerHTML = res;
                            document.getElementById('subtotal').innerHTML = res;

                         }

                         function displayPrice(){
                            var quan =document.getElementById("quantity").value;
                            var s =document.getElementById("sell").value;
                            var res = s * quan;
                            var c=20;
                            var b=0;
                            if(res<=100){
                                var p = Number(res) + Number(c);
                                var a=document.getElementById('totalprice');
                                a.value=p;
                                document.getElementById('dchar').innerHTML = "20";
                                document.getElementById('tot').innerHTML = p;

                            }
                            else{
                                var z = Number(res) + Number(b);
                                var a=document.getElementById('totalprice');
                                a.value=z;
                                document.getElementById('dchar').innerHTML = "0";
                                document.getElementById('tot').innerHTML = z;
                            }
    
                            document.getElementById('out').innerHTML = res;
                            document.getElementById('subtotal').innerHTML = res;

                         }


                         function increaseValue(){
                            var quan =document.getElementById("quantity").value;
                            var s =document.getElementById("sell").value;
                            quan = Number(quan) + 0.5;
                            document.getElementById("quantity").value = Number(quan)
                            var res = s * quan;
                            var c=20;
                            var b=0;
                            if(res<=100){
                                var p = Number(res) + Number(c);
                                var a=document.getElementById('totalprice');
                                a.value=p;
                                document.getElementById('dchar').innerHTML = "20";
                                document.getElementById('tot').innerHTML = p;

                            }
                            else{
                                var z = Number(res) + Number(b);
                                var a=document.getElementById('totalprice');
                                a.value=z;
                                document.getElementById('dchar').innerHTML = "0";
                                document.getElementById('tot').innerHTML = z;
                            }
    
                            document.getElementById('out').innerHTML = res;
                            document.getElementById('subtotal').innerHTML = res;

                         }

                        
                         function decreaseValue(){
                            var quan =document.getElementById("quantity").value;
                            var s =document.getElementById("sell").value;
                            quan = Number(quan) - 0.5;
                            document.getElementById("quantity").value = Number(quan)
                            var res = s * quan;
                            var c=20;
                            var b=0;
                            if(res<=100){
                                var p = Number(res) + Number(c);
                                var a=document.getElementById('totalprice');
                                a.value=p;
                                document.getElementById('dchar').innerHTML = "20";
                                document.getElementById('tot').innerHTML = p;

                            }
                            else{
                                var z = Number(res) + Number(b);
                                var a=document.getElementById('totalprice');
                                a.value=z;
                                document.getElementById('dchar').innerHTML = "0";
                                document.getElementById('tot').innerHTML = z;
                            }
    
                            document.getElementById('out').innerHTML = res;
                            document.getElementById('subtotal').innerHTML = res;

                         }



                    </script>
                    

                </div>

        </div>
        <p class="bg-green-200 text-sm pl-4 pb-2">Delivery by tommorow before 7 P.M</p>

    </div>

    <p class="py-4 text-xl text-center font-bold underline decoration-2">Free Delivery on order of above ₹100</p>

    <div class="text-center font-normal my-4">
        <h1 class="font-bold p-2 border-y-2 border-green-400">Price Details</h1>
         <table class="my-4 mx-auto">
             <tbody>
                 <tr>
                     <td>SubTotal Price:</td>
                     <td></td>
                     <td>₹<td id="subtotal"></td></td>
                     
                     
                 </tr>

                 <tr>
                     <td>Delivery Charges:</td>
                     <td></td>
                     <td>₹<td id="dchar"></td></td>
                 </tr>

                 
                 
                 <tr>
                     <th>Total:</th>
                     <td>₹<td id="tot" ></td></td>
                 </tr>
             </tbody>
         </table>
         <input class="hidden" id="totalprice" type="number" name="totalprice" value="" readonly> 
    </div>

    <div class="text-center font-normal my-4" >
        <h1 class="font-bold p-2 border-y-2 border-green-400">Payment Options</h1>
        <p>&#10004; Cash / UPI Payment on delivery at door step.</p>
    </div>

    <div class="text-center font-normal my-10">
        <h1 class="font-bold p-2 border-y-2 border-green-400">Fill the Captcha to Confirm the Order.</h1>
        
    </div>
    

    <div class="text-xl font-sans font-bold w-2/3 mx-auto text-center p-4 bg-green-200 space-y-4 ">
        {{ form.captcha }}
    </div>
 
{% if not user.customer_profile %}
    <div class=" w-40 mx-auto opacity-50 cursor-not-allowed">
        <button class=" text-2xl p-2 my-5 bg-green-700  hover:bg-green-900 text-center text-white"
            type="submit" disabled>Place Order</button>
    </div>
    <p class="text-center font-bold">Add address above to Enable Place Order button</p>

{% else %}

<div class=" w-40 mx-auto">
    <button class=" text-2xl p-2 my-5 bg-green-700  hover:bg-green-900 text-center text-white"
        type="submit">Place Order</button>

</div>

{% endif %}







</form>





{% endblock body %}