{% extends 'base.html' %}

{% load static %}


{% block title %}MyOrders{% endblock title %}

{% block body %}

{% if messages %}
<div class="p-5 my-2 bg-green-400 text-white font-sans text-2xl">
    <span class=" font-bold float-right cursor-pointer hover:text-black text-4xl"
        onclick="this.parentElement.style.display='none';">&times;</span>
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</span>
    {% endfor %}
</div>
{% endif %}


{% for order in orders %}
<a href="{% url 'tracker' order.id  %}">
<div class="max-w-xl mx-auto my-4 text-xl">
    <div class="space-y-4 bg-green-200 text-center p-2 font-semibold flex space-x-4">
            <img class="max-w-lg h-40" src="/media/{{order.product.image}}" alt="">
            <div class=" my-auto ">
                <h2 id="">{{order.product.name}}</h2>
                
                <label class="text-blue-900 text-sm" for="quantity">weight(quantity):</label>
                    <div>
                        <input class="w-20" type="number" id="quantity" name="quantity" value="{{order.quantity}}" readonly >
                        <label for="quantity">kg</label>
                    </div>
                        
                    <p class="pt-2">Pay: ₹{{order.price}} </p>
            </div>
    </div>
    <p class="text-blue-900 bg-green-200 text-sm pl-4">
        Order date: {{order.date}}       
    </p>
</div>

</a>

{% empty %}
    <div class="h-screen align-middle text-2xl text-red-900 font-bold my-4 py-4 bg-green-200 text-center">
        You haven't ordered any items till now. <br>
        Please order items now.
    </div>
    


   
{% endfor %}


{% endblock body %}