{% extends 'base.html' %}

{% load static %}


{% block title %}ProductView{% endblock title %}

{% block body %}

this is productview page. <br>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet temporibus nisi vero possimus eius nam minus perferendis
dolorem aperiam velit, ex voluptatem distinctio, hic exercitationem at alias quam doloremque. Laboriosam eos eveniet
suscipit quo nisi. Ipsum eveniet ipsa ducimus, libero autem enim incidunt, optio maxime veniam cupiditate voluptas
explicabo ratione. Nesciunt, quasi? Corporis repellendus perspiciatis impedit optio ipsam quibusdam. Beatae tempora
laudantium dolorem culpa suscipit quas cumque nobis reprehenderit, exercitationem eaque recusandae, consectetur aperiam
rem sint perspiciatis est! Vero voluptatum labore autem doloribus expedita. Eaque vitae ipsum magnam! Quis officiis
magni magnam deleniti nobis, minus, blanditiis voluptate impedit optio qui fugit, ipsam nisi repellat aperiam neque ad
inventore porro corrupti odit? Amet suscipit commodi officiis assumenda sunt eligendi qui. Aperiam perspiciatis veniam
ipsa at ad in dolorum nesciunt officia quis quasi laboriosam earum esse neque iure maiores, odit sequi autem ea
consequuntur magni provident voluptatibus? Quae ad maxime ut provident distinctio debitis maiores commodi cupiditate
culpa dolore magnam sequi sunt incidunt tempora officia, illo reprehenderit quo, harum id fugit rerum! Assumenda placeat
suscipit, minima quod, iure explicabo ut laborum, beatae porro enim repellat! Possimus ducimus earum cum accusantium!
Earum delectus inventore placeat eos voluptate debitis. Excepturi non impedit eligendi voluptatum, provident beatae
sunt, architecto exercitationem velit minus, tenetur placeat commodi laborum labore molestiae similique harum qui.
Placeat tempora facilis, amet distinctio atque magnam animi, eius nemo numquam modi delectus hic doloremque nesciunt
nobis iusto eum, pariatur laborum tempore nihil eos consequuntur veritatis facere fugit saepe. Eos iste odio, natus quas
dolor amet laborum a provident maxime aliquid sequi totam ipsa impedit ex quis! Accusantium adipisci ut magnam rerum
laborum. Corporis, nulla, perferendis magni libero inventore saepe totam delectus quidem voluptas enim dicta cum ab
reiciendis odio minima architecto. Dolores voluptas voluptatum mollitia cumque deleniti. Autem ad magnam ratione velit a
praesentium quod ea temporibus repellat, aliquam aspernatur deleniti dolorem voluptatem nihil atque porro unde hic ex
ipsum tempora? Consequuntur labore praesentium officia quis voluptates reiciendis cum neque ullam quas? Placeat at totam
dolorum magnam, recusandae velit incidunt corporis optio voluptates unde facilis veritatis consequatur voluptatibus
eveniet! Laborum, repellendus cum ut, porro explicabo quia consectetur illo corporis fugiat fugit soluta. Dolores in,
fugit fuga non sint repudiandae quia! Minima iusto molestias suscipit repellendus nisi cum, voluptas voluptatibus
dolorem maiores rerum? Quia quis vitae odio porro saepe quisquam amet esse magnam architecto repudiandae nesciunt
dolorem ex ducimus, rerum numquam? Vel ducimus magni, saepe corrupti ex error explicabo eveniet cupiditate quod at sequi
repudiandae beatae assumenda tenetur accusantium vero animi, ullam voluptate rerum voluptatum! A mollitia maiores
veritatis quisquam, sequi commodi doloribus molestiae eum consectetur dicta deleniti, illum vitae suscipit sint quod
neque repellendus quibusdam veniam, sit nesciunt voluptates? Dignissimos amet aspernatur id fuga perspiciatis ipsa
voluptatibus error tenetur magni, ad molestiae dicta odit libero, eos porro provident incidunt at deleniti quos vitae.
Maxime dolore iusto voluptates aliquid! Tempore, qui odit libero quod recusandae sequi aut ipsa? Sed vero aperiam
molestiae fugiat voluptas ad facilis dolorem non debitis nihil quibusdam soluta at voluptatem ex voluptates cum
mollitia, dolorum saepe illo assumenda aspernatur, magni asperiores culpa dolores. Quos ex amet nisi illo, iste, tenetur
consectetur, veniam beatae impedit qui laborum aut odio. Soluta consectetur sapiente officiis suscipit voluptate
exercitationem vel earum dolorum beatae dolores laudantium iste sed, quis fugiat velit ducimus quo hic nisi mollitia
iure sunt unde. Labore harum ipsa praesentium nesciunt, temporibus sapiente animi recusandae voluptates cupiditate ullam
voluptatem vitae debitis fugit a cumque suscipit inventore sunt laboriosam ipsam doloribus doloremque? Iure voluptatibus
accusamus blanditiis ex illo, eum fuga sunt nisi at dolor, consequuntur voluptate veritatis vero! Laborum iste delectus,
beatae sint asperiores voluptatem! Excepturi cum consectetur rem nihil quibusdam perferendis impedit, labore laboriosam
velit aliquam sed, deserunt voluptatum! Magnam quibusdam quisquam nostrum omnis perferendis accusamus praesentium!
Repellat veritatis esse quae nisi voluptatum soluta distinctio reprehenderit illum? Eaque amet necessitatibus, saepe
similique ab corporis repellat, illum architecto laudantium modi possimus, fugit nostrum quos eum quas? Pariatur est,
maiores perferendis itaque quo eum earum! Numquam iusto tempore quisquam omnis in veniam ea saepe, est dolore accusamus,
provident, ratione consequuntur unde sit porro laudantium beatae incidunt eaque dolor officia illo nulla libero. Esse
possimus suscipit atque quae. Labore molestiae odio quidem quod nam dolorem? Minus voluptatibus sint illo, consequatur
accusamus temporibus architecto, obcaecati ut fugit maxime incidunt in nostrum qui vitae commodi rerum cupiditate
quisquam similique consectetur est omnis aliquid itaque atque perspiciatis. Fugit nostrum laudantium dolor dignissimos,
tempore beatae, quod, hic saepe libero eum molestias ex aspernatur blanditiis sint molestiae! Quibusdam doloribus
tempora officiis consequuntur quos iusto eos. Facere, sint laborum. Vero odio nulla repudiandae omnis cupiditate
deleniti exercitationem voluptates. Laborum sint autem corporis, dolore totam facere? Nam illum provident harum dolore
perferendis atque eveniet delectus praesentium est? Beatae tempora labore a iusto voluptatum autem, repellendus alias
nesciunt recusandae! Omnis dolorum dolorem ad commodi accusamus neque eos tempore corporis, recusandae quod, aliquid
alias illo nam? Magnam ipsa laborum, nisi explicabo possimus necessitatibus quod, facilis alias debitis nulla voluptatum
facere qui praesentium atque eligendi itaque animi, suscipit provident quia corrupti consequatur voluptatem accusamus
saepe! Dolorem ex sunt, quas alias facilis atque labore iste soluta nihil aliquid necessitatibus ipsa deleniti
consectetur saepe, libero placeat, minus qui voluptatibus. Nobis accusantium eos mollitia labore quod nisi distinctio
officiis eum minima id, saepe pariatur culpa blanditiis quas corrupti. Facilis accusamus corporis fugiat, accusantium
sit officiis? Corporis totam numquam animi ducimus quaerat culpa tempore. Quas, odit? Velit quidem quod veritatis
maiores at! Numquam consequatur, placeat dolore laborum ut officiis, hic, sint reiciendis consequuntur voluptatibus
minima unde cum praesentium temporibus ipsa? Expedita et cum quas. Vitae recusandae ut blanditiis eveniet corporis
consequatur tempora nemo, voluptate reprehenderit sed temporibus totam itaque beatae pariatur quia harum cumque,
cupiditate dolores error quaerat aspernatur saepe asperiores porro veritatis? Eum veritatis et esse aliquid provident
asperiores earum exercitationem ea amet minus? Harum a, porro exercitationem qui aspernatur rem obcaecati illo
perspiciatis, eos soluta tempora, ex doloremque laborum quaerat unde quis eum distinctio consectetur provident nam? Nemo
quaerat qui fugit aperiam exercitationem excepturi illo at est.


{% endblock body %}